.emoticon {
    animation: LefttoRight;
    animation-timing-function: linear;
    animation-duration: 2s;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.icon { 
    animation: Pulse;
    animation-timing-function: linear;
    animation-duration: 3s;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


@keyframes LefttoRight {
    from {
        transform: translateX(50%) scale(0.8); 
        
    }

    to {
        transform: translateX(100%) scale(1);
    }
}

@keyframes Pulse {
    from {
        transform: scale(0.5);
    }

    to {
       transform: scale (2);
    }
}